<body>

    <div class='main-container'>
  
      <div class='container'>
  
        <div class='left-sidebar' >
  
          <h2>PaySlip</h2>
  
          <div>
  
            <!-- <ion-icon name="add-circle"></ion-icon> -->
  
  
            <a class='top-left-sidebar-link' href='#'  routerLink="/edashboard" routerLinkActive="active"><svg style="color: white;margin-top: 3px; " xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" fill="white"></path> <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" fill="white"></path> </svg>
              <p class="p1"> Dashboard</p></a>
  
          </div>
  
          
  
          <div >
  
            <!-- <ion-icon name="Apps-outline"></ion-icon> -->
  
            <a class='left-sidebar-links' href='#'  routerLink="/epleavedet" routerLinkActive="active">
              <img src="../../assets/Images/leavedet.png" class="navbarIcon">
              <p>Leave Details</p> </a>
  
          </div>
  
  
  
          <div>
  
            <!-- <ion-icon name="storefront-outline"></ion-icon> -->
  
            <a class='left-sidebar-links' href='#'   routerLink="/epaypdf" routerLinkActive="active">
              <img src="../../assets/Images/payment.png" class="navbarIcon">
              <p style="margin-top: 13px;">PaySlip</p></a>
  
          </div>
    
        
          
  
          
          
  
        </div>
  
        <div class='dashboard'>
  
          <div class='top-bar'>
  
            <br>
  
            <!-- <input placeholder="SEARCH" type='search'> -->
  
            <!-- <ion-icon class='search-icon' name="search-outline"></ion-icon> -->
            <div class="topProfile">
              <a href="#" class="user" routerLink="/eprofile" routerLinkActive="active">
               <!-- <img src="../../assets/Images/newProfile.png"> -->
              </a>
  
              <a href="#" routerLink="/elogin" routerLinkActive="active"> <img src="../../assets/Images/logout.png"></a>
  
            </div>
  
  
          </div>
          <div style="display:flex ; flex-direction:row ;" class="topbbar">
           
            <div class="searchBar" style="display:flex ; flex-direction:row ;" >
              <div class="searchicon">
              <svg  style="color: rgb(25, 226, 240);" xmlns="http://www.w3.org/2000/svg" width="22" height="25"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  fill="#19e2f0"></path>
              </svg>
            </div>
              <input class="form-control searchiconbar" type="text" name="ALLOC_NMBR" [(ngModel)]="searchText" placeholder="search"> </div>
          </div>
  
  
          <br>
          <div class="table-responsive">
            <table id="myTable" class="display table" style="width:100%">
  
                <thead>
                    <tr>
                        <th scope="col" (click)="sort('SEQUENCENUMBER ')">Sequence Number &nbsp;<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" fill="white"></path> <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" fill="white"></path> </svg></th>
                     
                        <th scope="col" (click)="sort('PAYDATE')">Pay Date&nbsp;<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" fill="white"></path> <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" fill="white"></path> </svg></th>
                        <th scope="col" (click)="sort('PAYTYPE_TEXT')">Pay Description&nbsp;<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" fill="white"></path> <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" fill="white"></path> </svg></th>
                        <th scope="col" (click)="sort('FPPERIOD')">FP Period&nbsp;<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" fill="white"></path> <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" fill="white"></path> </svg></th>
                       
                        <th scope="col" (click)="sort('FPBEGIN')">FP Begin &nbsp;<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" fill="white"></path> <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" fill="white"></path> </svg></th>
                        <th scope="col" (click)="sort('FPEND')">FP End&nbsp;<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z" fill="white"></path> <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" fill="white"></path> </svg></th>
                    
                       </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of payslipdet | filter:searchText | orderBy : key : reverse | paginate:{itemsPerPage:8,currentPage:p};"  class="table-success">
              
                
              
                      
                        <td>{{item.SEQUENCENUMBER | number}}</td>
                        <td>{{item.PAYDATE}}</td>
                        <td>{{item.PAYTYPE_TEXT}}</td>
                        <td>{{item.FPPERIOD}}</td>
                        <td>{{item.FPBEGIN}}</td>
                        <td>{{item.FPEND}}</td>
                        <td><button (click)="PDFdownload(item.SEQUENCENUMBER)">PDF</button></td>
      
                      </tr>
                    
                    </tbody>
              
  
            </table>
            <div class="pagination-controls">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
  
          </div>
  
  
        </div>
  
      </div>
    </div>
  </body>
  