
<div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h2>Service One</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error illum ad dolor laudantium enim ipsa libero adipisci culpa </p>
          <a href="#" routerLink="/eprofile" routerLinkActive="active">View</a>
        </div>
      </div>
      <div class="face face2">
        <h3>Profile</h3>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h2>Service Two</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error illum ad dolor laudantium enim ipsa libero adipisci culpa </p>
          <a href="#" routerLink="/epleavedet" routerLinkActive="active">View</a>
        </div>
      </div>
      <div class="face face2">
        <h3>Leave</h3>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h2>Service Three</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error illum ad dolor laudantium enim ipsa libero adipisci culpa </p>
          <a href="#" routerLink="/epaypdf" routerLinkActive="active">View</a>
        </div>
      </div>
      <div class="face face2">
        <h3>Pay</h3>
      </div>
    </div>
  </div>