<div class="container1">
	<div class="titular">		
		<img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80" alt="Students gathered around a table, laughing" class="bg"/>
		<!-- <button class="btntop">Login</button> -->
		<p class="tagline">Discover. Connect. Inspire.</p>
		<p class="subtitle">Join us to be a part of a community</p>
		<button class="btn" routerLink="https://www.sap.com/india/about/company/what-is-sap.html" routerLinkActive="active">Get Started</button>
	</div>
	<div class="context1">
		<br/><br/>
		<h1>Discover new things</h1>
		<!-- <p class="line"></p> -->
		<p>Meet new people, explore new skills, and pursue your passions - together. <br/>With so much to explore, we help empower you to accomplish real growth.</p>
	</div>
	
	<div class="area1" >
		<ul class="circles1">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li> 
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div >
	
	<div class="gallery1">
		<h1>Explore all possibilities...</h1>
		<div class="grid">

			<!-- card -->
			<div class="container">
				<div class="card">
				  <div class="face face1">
					<div class="content">
					  <h2>Portal One</h2>
					  <p>Provides your customers with a single point of access to company information that is relevant to them, such as policies, invoices, deliveries, orders and online payments </p>
					  <a href="#" routerLink="/loginPage" routerLinkActive="active">View</a>
					</div>
				  </div>
				  <div class="face face21">
					<h3>Customer</h3>
				  </div>
				</div>
				<div class="card">
				  <div class="face face1">
					<div class="content">
					  <h2>Portal Two</h2>
					  <p>Provides an easy and secure way for the business and their vendors to track orders, raise concerns and communicate, and ensure that both parties are on the same page. </p>
					  <a href="#" routerLink="/vplogin" routerLinkActive="active">View</a>
					</div>
				  </div>
				  <div class="face face22">
					<h3>Vendor</h3>
				  </div>
				</div>
				<div class="card">
				  <div class="face face1">
					<div class="content">
					  <h2>Portal Three</h2>
					  <p>Content and knowledge management, ticketing, document management, and business process management tools. </p>
					  <a href="#" routerLink="/elogin" routerLinkActive="active">View</a>
					</div>
				  </div>
				  <div class="face face23">
					<h3>Employee</h3>
				  </div>
				</div>
			  </div>
			<!-- End Card -->

		</div>	
		<footer class="footer_banner1">
		</footer>
</div>